:root{
  --primary-color:#3CE0A0;
  --avatar-bgColor:#E4F4ED;
  --linear-bgColor:#E4F4ED, #F9F9F9;
}

html {
  font-size: 16px;
}

body{
  font-family: 'Nunito', sans-serif;
}

body, h1, h2, h3, h4 {
  padding:0;
  margin:0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#fff;
  cursor: pointer;
}

a:hover,
a:hover h3 {
  color:black;
}

img {
  vertical-align: top;
}

#logo {
  max-width: 8rem ;
}