@import "./common.css";

body, h1, h2, h3, h4, h5, h6 {
  padding:0;
  margin:0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}


/* header navigateur */
nav .logo{
  width: 13vw;
  height: 6vw;
}

nav .userName{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav .userName .nameBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav .userName .nameBlock span {
  font-size: 14px;
  font-weight: 900;
  text-align: right;
}

/* main -> left sideBar */
#contenu {
  margin: 0;
}
#contenu .sideBar {
  width: 280px;
  height: 100%;
  background-color: var(--primary-color);
}

#contenu .sidebar .sideBar-item{
  font-size: 16px;
  font-weight:bolder;
}

#contenu h5{
  font-weight: 900;
}

#contenu .sideBar .toggle-list{
  margin-left:-13px;
  font-weight: 900;
}

#contenu .sideBar h5, a {
  color:#fff;
}

#contenu .sideBar .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  position:absolute;
  left:0;
  bottom:30px;
  width:139px;
  height: 60px;
  border-radius: 0 100px 100px 0;
  background-color: #fff;
}


/* main -> contenu right */

#contenu-right .title {
  background: linear-gradient(var(--linear-bgColor));
  min-height: 15%;
}

#contenu-right h1{
  font-size: 40px;
  font-weight: 900;
}

#contenu-right .gestion-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:15px 0;
  width: 230px;
  height: 70px;
  border-radius:100px;
}
#contenu-right .icon {
  align-items: center;
  margin-right: 5px;

}

#contenu-right .gestion-item p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  font-weight: 900;
}

 #contenu-right .gestion-item{
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
} 

#contenu-right .gestion-item:hover{
  background-color: var(--primary-color);
  color:#fff;
}

#contenu-right .triangle {
  position:absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%) translateY(100%);
  width:0;
  height:0;
  border-left: 50px solid transparent; 
  border-right: 50px solid transparent; 
  border-top: 30px solid #F9F9F9; 
}


/* main->rignt->partie de recherche */

.search{
  position: relative;
}
.search .glass{
  position:absolute;
  left: -35%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 20px;
}

.search .glass img{
  width: 10vw;
  height:10vw;
}

.search h2{
  color:var(--primary-color);
  font-weight: 900;
}

.search .desc{
  width: 250px;
  font-size: 14px;
  color:#757575;
}
.search input{
  font-size: 16px;
  font-weight: 900;
  border: 1px solid #DDDDDD;
  border-radius: 40px;
  width:40%;
  height: 60px ;
}

/* ligne de séparation  */

.separator{
  width: 80%;
  height:1px;
  background-color:#E0E0E0;
}

.max-separator{
  margin: 80px auto;
}

.min-separator{
  margin: 10px auto;
}

/* contenu-> right: info détaillée */
#persons{
 margin-top:-50px;
 margin-bottom: 35%;
}

#persons .avatar-patient{
  transform: translateY(20%);
}

.card-info {
  width:280px;
  height:340px;
  border-radius: 10px;
}

.card-info.odd{
  background-color: var(--avatar-bgColor);
}

.card-info.even{
   border: 2px solid var(--primary-color);
}

.card-info .top h6{
  font-size: 16px;
  font-weight: bolder;
  color:var(--primary-color);
  margin-top: 50px;
}

.card-info .top .age {
  font-size: 14px;
}

.card-info .base .info {
  display: flex;
  flex-direction: row;
}

.card-info .base .icon {
  margin-right: 10px;
}

.card-info .base p{
  font-size: 14px;
  font-weight: bolder;
}

.card-info .base{
  width:190px;
  height:160px;
}
.card-info .base p{
  font-weight: 900;

} 


/* tabbar affiche en bas quand l'écran devient petit */
#tabbar{
  background-color: var(--primary-color);
}

#tabbar .center{
  border-left: 1px solid #fff;
}

#tabbar .right{
  text-align: center;
  line-height: 100%;
  vertical-align: middle;
  background-color: #FFD900;
  width: 15%;
}

#tabbar .right .chiffre{
  font-size: 24px;
  font-weight: 900;
}

#tabber .right .point{
  font-weight: 700;
}




